select {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.expense-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: transparent;
  color: #ef4444;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
